<?xml version="1.0"?>
<sdf version="1.4">
  <model name="box">
    <static>true</static>
    <link name="box_link">
      <velocity_decay>
        <linear>
            0.5
          </linear>
      </velocity_decay>

      <inertial>
        <mass>10</mass>
      </inertial>

      <!-- this is the box cores -->
      <collision name="box_core_collision">
        <geometry>
          <box>
            <size>1 1 1</size>
          </box>
        </geometry>
      </collision>
      <visual name="box_core_visual">
        <geometry>
          <box>
            <size>1 1 1</size>
          </box>
        </geometry>
        <material>
          <ambient>1 1 1 1</ambient>
          <diffuse>1 1 1 1</diffuse>
        </material>
      </visual>

      <sensor name="box_core_contact" type="contact">
        <contact>
          <collision>box_core_collision</collision>
        </contact>
      </sensor>

      <!-- these is the box faces -->
{% for face in faces %}
      <!-- {{ face.prefix }} -->
      <collision name="{{ face.prefix }}_collision">
        <pose>{{ face.pose }} 0 0 0</pose>
        <geometry>
          <box>
            <size>{{ face.size }}</size>
          </box>
        </geometry>
        <surface>
          <contact>
            <collide_without_contact>true</collide_without_contact>
          </contact>
          <friction>
            <bullet>
              <friction>1.0</friction>
              <friction2>1.0</friction2>
              <fdir1>0 0 0</fdir1>
              <rolling_friction>1.0</rolling_friction>
            </bullet>
          </friction>
        </surface>
      </collision>
      <visual name="{{ face.prefix }}_visual">
        <pose>{{ face.pose }} 0 0 0</pose>
        <geometry>
          <box>
            <size>{{ face.size }}</size>
          </box>
        </geometry>
        <material>
          <ambient>1 1 1 1</ambient>
          <diffuse>1 1 1 1</diffuse>
          <script>
            <uri>model://tabletop_aruco_test/materials/scripts</uri>
            <uri>model://tabletop_aruco_test/materials/textures</uri>
            <name>{{ face.script_name }}</name>
          </script>
        </material>
      </visual>
{% endfor %}
    </link>
  </model>
</sdf>
