<launch>
  <!-- https://github.com/rickstaa/realsense-ros/blob/da38e309c2fbe88e45e6148bf5d944486b3e8e98/realsense2_description/launch/view_d435_model_rviz_gazebo.launch -->

  <!-- arguments for the urdf xacro file, rviz visualization and namespace -->
  <arg name="name" default="camera" />
  <arg name="topics_ns" default="camera" />
  <arg name="add_plug" default="false" />
  <arg name="publish_pointcloud" default="true" />
  <arg
    name="model"
    default="$(find realsense2_description)/urdf/test_d435_camera.urdf.xacro"
  />
  <arg name="gui" default="true" />

  <!-- this will include the launch file for gazebo given the model -->
  <include file="$(find realsense2_description)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="name" default="$(arg name)" />
    <arg name="topics_ns" default="$(arg topics_ns)" />
    <arg name="add_plug" default="$(arg add_plug)" />
    <arg name="publish_pointcloud" default="$(arg publish_pointcloud)" />
    <arg name="gui" value="$(arg gui)" />
  </include>

  <!-- Load the sdf model only the parameter server -->
  <param
    name="robot_description"
    command="$(find xacro)/xacro --inorder $(arg model)
      use_nominal_extrinsics:=true
      publish_pointcloud:=$(arg publish_pointcloud)
      add_plug:=$(arg add_plug)
      name:=$(arg name)
      topics_ns:=$(arg topics_ns)"
  />
  <param
    name="model_description"
    textfile="$(find visman_learning_adventure)/models/box/description.sdf"
  />

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <arg name="distance" default="0.3" />
  <node
    name="model_spawner"
    pkg="gazebo_ros"
    type="spawn_model"
    respawn="false"
    output="screen"
    args="-sdf -x $(arg distance) -y 0.01 -z 0.02 -param model_description -model box"
  />

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher"
  >
    <param name="publish_frequency" type="double" value="5.0" />
  </node>

  <!-- Load rviz -->
  <param name="use_gui" value="$(arg gui)" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find realsense2_description)/rviz/urdf.rviz"
    required="true"
    if="$(arg gui)"
  />

  <node
    name="image_snapshot"
    pkg="visman_learning_adventure"
    type="realsense_image_snapshot.py"
    output="screen"
    args="--sleep 3"
    if="$(arg gui)"
  />
</launch>
