<launch>
  <!-- https://github.com/rickstaa/realsense-ros/blob/da38e309c2fbe88e45e6148bf5d944486b3e8e98/realsense2_description/launch/view_d435_model_rviz_gazebo.launch -->

  <!-- arguments for the urdf xacro file, rviz visualization and namespace -->
  <arg name="name" default="camera" />
  <arg name="topics_ns" default="camera" />
  <arg name="add_plug" default="false" />
  <arg name="publish_pointcloud" default="true" />
  <arg
    name="model"
    default="$(find realsense2_description)/urdf/test_d435_camera.urdf.xacro"
  />

  <!-- Load the sdf model only the parameter server -->
  <param
    name="robot_description"
    command="$(find xacro)/xacro --inorder $(arg model)
      use_nominal_extrinsics:=true
      publish_pointcloud:=$(arg publish_pointcloud)
      add_plug:=$(arg add_plug)
      name:=$(arg name)
      topics_ns:=$(arg topics_ns)"
  />

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher"
  >
    <param name="publish_frequency" type="double" value="5.0" />
  </node>

  <!-- Load gazebo -->
  <arg name="paused" default="false" />
  <arg name="use_sim_time" default="true" />
  <arg name="headless" default="false" />
  <arg name="debug" default="false" />
  <arg name="gui" default="true" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg
      name="world_name"
      value="$(find handy_warehouse_demo)/worlds/tabletop.world"
    />
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="headless" value="$(arg headless)" />
  </include>

  <!-- Load rviz -->
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find realsense2_description)/rviz/urdf.rviz"
    required="true"
    if="$(arg gui)"
  />

</launch>
